@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light-gray: 190 190 190;
    --color-dark-gray: 55 55 55;
    --color-gray: 176 176 176;
    --color-yellow: 255 203 70;
  }

  html {
    font-family: 'Grtsk Giga', sans-serif;
  }
}

@layer components {
  /* .container {
    @apply 
  } */
}
