@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light-gray: 190 190 190;
    --color-dark-gray: 55 55 55;
    --color-gray: 176 176 176;
    --color-yellow: 255 203 70;
  }

  html {
    font-family: 'Grtsk Giga', sans-serif;
    color: rgb(var(--color-dark-gray));
  }

  body {
    @apply relative -z-20 h-dvh bg-gray-light overflow-hidden;
  }

  #app {
    @apply flex flex-col h-full;
  }
}

@layer components {
  /* .container {
    @apply 
  } */
}
