$gray-900: #282c36;
$gray-800: #3b4350;
$gray-700: #4e5b6a;
$gray-600: #617484;
$gray-500: #7a8998;
$gray-400: #929eac;
$gray-300: #b6bec9;
$gray-200: #dce0e9;
$gray-100: #ebedf2;
$gray-50: #f7f8f9;
$red-700: #bd0d4d;
$red-500: #ea0f5e;
$red-300: #f6a9b9;
$green-700: #00ad5a;
$green-500: #00c466;
$green-300: #9df0b3;
$orange-700: #c87800;
$orange-500: #eba900;
$orange-300: #ffd34d;
